/*
    Mayank All Right Reserved
    Website2 "company"
    css/style.css
*/
@import "header.css";
@import "index.css";
@import "signin.css";
@import "objective.css";
@import "location.css";
@import "mission.css";
@import "contact.css";
@import "footer.css";
@import "response.css";
/*  */
*
{
    user-select: none;
    margin: 0;
    padding: 0;
    color: #1e272e;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
:root
{
    --light:#ecf0f1;
    --white:#ffffff;
    --dred:#d63031;
    --red:#c20202;
    --lred:#ff7675;
    --black:#1e272e;
    --dark:#7f8fa6;
    --yellow:#feca57;
}

/*
    MAIN CSS --------------------------------------------
*/
body
{
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y:scroll;
}
::-webkit-scrollbar
{
    width: 10px;
    background: var(--light);
}
::-webkit-scrollbar-thumb
{
    background: var(--dark);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--lred);
}
